@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
// ==== FONTS ===========================================================================================
@import "fonts";
// ==== // FONTS ===========================================================================================

// ==== VARS ===========================================================================================
@import "vars";
// ==== // VARS ===========================================================================================

// ==== Normalize ===========================================================================================
@import "normalize";
// ==== // НОРМАЛАЙЗ ===========================================================================================

//<MIXINE>===============================================================================================
@import "mixins.scss";
//</MIXINE>===============================================================================================

//<ICOMOON>===============================================================================================
@import "../icomoon/style";
//</ICOMOON>===============================================================================================

//<FANCYBOX>===============================================================================================
//@import "plagins/fancybox.scss";
//<FANCYBOX>===============================================================================================

// ==== PLAGINS ===========================================================================================
@import "plagins/swiper-bundle";
//@import "plagins/animate";
// ==== // PLAGINS ===========================================================================================

// ==== FORM STYLE DEFAULT ===========================================================================================
@import "forms";
// ==== FORM STYLE DEFAULT ===========================================================================================

// ==== POPUP ===========================================================================================
//@import "../common/popup/popup";
// ==== // POPUP ===========================================================================================

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
aside,
nav,
footer,
header,
section {
	display: block;
}
html {
	font-size: 10px;
	height: 100%;
}
html,
body {
	min-width: $minwidth;
	margin: 0 auto;
}
body {
	line-height: 1;
	font-family: $mainFontFamily;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color: $textColor;
	font-size: 1.8rem;
	transition: opacity 0.8s ease;
	display: flex;
	flex-direction: column;
	position: relative;
	min-height: 100%;

	&.lock {
		overflow: hidden;
	}

	@media (max-width: $md2+px) {
		padding-bottom: 63px;
	}
}

input,
button,
textarea {
	font-family: $mainFontFamily;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.center {
	text-align: center;
}

._page {
	flex: 1 1 auto;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}

.container {
	max-width: 1360px;
	margin: 0 auto;
	padding: 0 110px;

	@media (max-width: $md2+px) {
		padding-left: 40px;
		padding-right: 40px;
	}

	@media (max-width: $md4+px) {
		padding-left: 32px;
		padding-right: 32px;
	}

	@media (max-width: 375.98px) {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

// === title ========================================================================
.title-color {
	color: $mainColor;
}

.text-xs-center {
	@media (max-width: $md2+px) {
		text-align: center;
	}
}

.title-1 {
}
.title-2 {
	font-weight: bold;
	font-size: 64px;
	line-height: 1.21875em;
	text-transform: uppercase;

	@media (max-width: $md3+px) {
		font-size: 38px;
	}
	@media (max-width: $md4+px) {
		font-size: 36px;
	}
	@media (max-width: 379.98px) {
		font-size: 30px;
	}
}

.title-3 {
	font-weight: bold;
	font-size: 48px;
	line-height: 1.229em;

	@media (max-width: $md3+px) {
		font-size: 34px;
	}

	@media (max-width: $md4+px) {
		font-size: 24px;
	}
}

.title-4 {
}

.title-5 {
}
.title-6 {
}
.text {
}

.hover:not(.swiper-button-disabled) {
}
// === and title ========================================================================

// === btn ========================================================================
.btn-default {
	display: inline-flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	min-height: 60px;
	padding: 15px 33px;
	border: 2px solid $mainColor;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: $mainColor;
	border-radius: 200px;
	transition: all 0.3s ease;
	min-width: 189px;
	background-color: transparent;

	@media (min-width: 992px) {
		&:hover {
			background-color: $mainColor;
			color: #fff;
		}
	}

	&.green {
		background-color: $mainColor;
		color: #fff;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.25em;

		@media (min-width: 992px) {
			&:hover {
				background-color: $mainColor2;
				border-color: $mainColor2;
			}
		}
	}

	&.white {
		color: #fff;
		border-color: #fff;

		@media (min-width: 992px) {
			&:hover {
				background-color: #fff;
				color: $mainColor;
			}
		}
	}
}

button.btn-default {
}

// === and btn ========================================================================

.input {
	width: 100%;
	display: flex;
	align-items: center;
	background: #eff1f1;
	border-radius: 17px;
	padding: 10px 19px;
	font-size: 18px;
	line-height: 1.1em;
	color: $titleColor2;
	height: 60px;

	&::placeholder {
		font-size: 18px;
		line-height: 1.1em;
		color: $textColor;
	}
}

.textarea {
}

.link {
}

// === TEXT CONTETN BLOCK ========================================================================
.text-content {
	font-size: 18px;
	line-height: 1.24em;

	@media (max-width: $md4+px) {
		font-size: 14px;
		line-height: 17px;
	}

	& h1 {
	}
	& h2 {
	}
	& h3 {
	}
	& h4 {
	}

	& h5 {
	}
	& h6 {
	}

	& p {
		margin-bottom: 1.6em;
	}

	& ul {
		& > li {
		}
	}

	& ol {
	}

	& figure {
	}

	& a {
		color: $textColor;
		text-decoration: underline;
		transition: all .3s ease;
		&:hover {
			color: $mainColor
		}
	}
}

// === and TEXT CONTETN BLOCK ========================================================================

// ==== BLOCKS =====================================================
@import "../common/header/header";
@import "../common/footer/footer";
@import "../common/checkbox/checkbox";
@import "../common/burger/burger";
@import "../common/side-panel/side-panel";
@import "../common/contact-us/contact-us";
@import "../common/about-us/about-us";
@import "../common/_decor/_decor";
@import "../common/partners/partners";
@import "../common/services/services";
@import "../common/specializations/specializations";
@import "../common/team/team";
@import "../common/testimonials/testimonials";
@import "../common/verify-form/verify-form";
@import "../common/cookies-message/cookies-message";
// ==== BLOCKS ==

// ==== PAGES =====================================================
@import "pages/home";
// ==== AND PAGES =====================================================
