.text-block {
    margin-bottom: 100px;

    @media (max-width: $md3+px) {
        margin-bottom: 50px;
    }

    &__row-1 {
    }

    &__title {
        margin-bottom: 54px;

        @media (max-width: $md3+px) {
            margin-bottom: 30px;
        }
    }

    &__text {
        max-width: 935px;
        margin: 0 auto 100px;
        text-align: center;
        @media (max-width: $md3+px) {
            margin-bottom: 50px;
        }
    }

    &__row-2 {
    }
}

