.specializations-page {
    & .hero__title.title-1 {
        @media (max-width: $md1+px) {
            font-size: 84px;
        }
        @media (max-width: $md2+px) {
            font-size: 68px;
        }
        @media (max-width: $md3+px) {
            font-size: 52px;
        }
    
        @media (max-width: 575.98px) {
            font-size: 42px;
        }
    
        @media (max-width: $md4+px) {
            font-size: 30px;
        }
    }
}